<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Xin chào cả lớp file</h1>
    <form action="/api/upload-image" method="post">
        <label for="">Image</label>
        <!-- <input type="file" accept="jpg,png,jpeg"> -->
        <input type="text" placeholder="image">
        <input type="submit">
    </form>
</body>
</html>